    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                height="40" />
              <div class="form-outline w-100">
                  <%= render 'shared/errors', object: @comment%>
                  <%= form_with model: [@book, @comment] do |form| %>
                    <%= form.text_area :body, size: "50x5", required: true %>
                    <% if user_signed_in? %> 
                      <p> <%= form.submit 'Post comment', class: "btn btn-primary btn-sm" %> </p>
                    <% else %>
                      <p> <%= button_to "Sign in", '#', class: "btn btn-primary btn-sm", data: { turbo: false } %> </p>
                    <% end %>
                  <% end %>
              </div>
            </div>
        </div>    