<div class="card" style="width: 10rem; margin:5px; font-size:10px;">
  <% if book.image.attached? %>
    <%= image_tag book.image.variant(size_image), style: 'margin-top:10px' %>
  <% else %>
    <%= image_tag("book.jpg", alt: 'rss feed', style: 'margin-top:10px') %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title text-center"> <%= book.name %> </h5>
  </div>
  <div class="row text-center">
    <div class="col"> <%= link_to "Details", book %> </div>
    <div class="col"> <%= link_to "Find book", class:'btn btn-primary'%> </div>
  </div>
  <div class="row text-center">
    <div class="col"> <%= link_to "Add to Favorite", favorite_books_path(book_id: book.id), :method => :post, data: { turbo: false } %> </div>
    <div class="col-5"> <%= link_to "Comments( #{book.comments.size} )", book %></div>
  </div>
</div>