<div class='container'>
  <div class='row align-middle mt-2'> 
  <h3 class='text-center'> All books </h3> 
    <div class='col-8'> </div>
    <div class='col-4'>
      <%= search_form_for @q, class:'d-flex' do |f| %>
          <%= f.search_field :name_cont, required: true, class: 'form-control me-2' %>
          <%= f.submit 'Search', class: 'btn btn-outline-success' %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2 text-center'> 
      <h3 class="text-center"> Category </h3> 
      <% Category.all.each do |category| %>
          <p> <%= link_to category.name, category, data: { turbo_frame: "first_turbo_frame" } %> </p>
      <%end%>
    </div>
    <div class='col-md-10'>
      <%= turbo_frame_tag "first_turbo_frame" do %>
          <div class='row'>
              <% @books.each do |book| %> 
                  <%= render partial: "books/cardbook", locals: { book: book } %>
              <% end %> 
          </div> 
      <% end %>     
    </div> 
  </div>
</div>
