<div class='container my-5'>
        <div class='row'>
            <div class='col-md-8'> 
                <h2> <%= @book.name %> </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
            <div class='col-md-4'> 
                <%= image_tag("book.jpg", alt: 'rss feed') %>
            </div>
        </div>
        <div class='row'>
            <p> <%= link_to '<-- Back', :back %> </p>
        </div>
</div>             


  <div class="container" style="background-color: #eee;">
    <div class="row d-flex justify-content-start">
        <hr> <h5> Comments </h5>
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
         <%= render partial: "comments/new_comment" %>
        </div>
      </div>
    </div>
            <% @comments.each do |comment|%>
                <p> <%= render partial: "comments/comment", locals: { comment: comment}%> </p>
            <%end%>
  </div>
