<%= turbo_frame_tag "first_turbo_frame" do %>
<div class='container my-5'>
        <div class='row'>
            <div class='col-md-8'> 
                <h2> <%= @book.name %> </h2>
                <p> Минають роки, минають десятиліття, але ми знову й знову повертаємось до деяких 
                літературних творів... Сьогодні, коли поширюється інтерес до нашої історії та культури, 
                пропонуємо вам перечитати драму-феєрію відомої української письменниці й поетеси Лесі Українки. 
                Цей твір розповідає про зв'язок людини і природи, про безсмертя вічних людських цінностей, 
                добро і зло; про пошук гармонії, кохання і зраду; про матеріальне і духовне в житті. 
                Це гімн справжньому коханню. Завдяки прекрасним ілюстраціям дивовижного краю з майбутнього 
                анімаційного фільму «Мавка. Лісова пісня» пориньте у цей фантастичний світ і насолоджуйтеся 
                колоритною мелодійною українською мовою. Сьогодні за допомогою сучасних технологій ми маємо 
                можливість ще більше заглибитися у драму-феєрію. За допомогою QR-коду можна прослухати дивні 
                народні волинські мелодії, що їх так цінувала поетеса.</p>
            </div>
            <div class='col-md-4'> 
              <% if @book.image.attached? %>
                <%= image_tag @book.image.variant(:thumb) %>
              <% else %>
                <%= image_tag("book.jpg", alt: 'rss feed') %>
              <% end %>
            </div>
        </div>
        <div class='row'>
            <p> <%= link_to '<-- Back', :back %> </p>
        </div>
</div>             


  <div class="container" style="background-color: #eee;">
    <div class="row d-flex justify-content-start">
        <hr> <h5> Comments </h5>
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
         <%= render partial: "comments/new_comment" %>
        </div>
      </div>
    </div>
            <% @comments.each do |comment|%>
                <p> <%= render partial: "comments/comment", locals: { comment: comment}%> </p>
            <%end%>
  </div>
<% end %>
