<%= turbo_frame_tag "first_turbo_frame" do %>
<div class='container my-5'>
        <div class='row'>
            <div class='col-md-8'> 
                <h2> <%= @book.name %> </h2>
                <p> <%= @book.description %></p>
            </div>
            <div class='col-md-4'> 
              <% if @book.image.attached? %>
                <%= image_tag @book.image.variant(:thumb) %>
              <% else %>
                <%= image_tag("book.jpg", alt: 'rss feed') %>
              <% end %>
            </div>
        </div>
        <div class='row'>
            <p> <%= link_to '<-- Back', :back %> </p>
        </div>
</div>             


  <div class="container" style="background-color: #eee;">
    <div class="row d-flex justify-content-start">
        <hr> <h5> Comments </h5>
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
         <%= render partial: "comments/new_comment" %>
        </div>
      </div>
    </div>
            <% @comments.each do |comment|%>
                <p> <%= render partial: "comments/comment", locals: { comment: comment}%> </p>
            <%end%>
  </div>
<% end %>
