<!DOCTYPE html>
<html>
  <head>
    <title>BUKR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<<<<<<< HEAD
    <div class="container">
      <div class="row"> <%= render 'layouts/navbar' %></div>
      <div class="row"> <%= yield %> </div>
      <div class="row"> <%= render 'layouts/footer' %></div>
=======
    <div>

        <div> <%= render 'layouts/navbar' %> </div>
        
        <p class="notice"><%= notice %></p> 
        <p class="alert"><%= alert %></p> 
        <div class="container-fluid"> <%= yield %> </div>

        <div> <%= render 'layouts/footer' %> </div>

>>>>>>> c9b8388 (Add gem devise and styling)
    </div>

  </body>
</html>
