<!DOCTYPE html>
<html>
  <head>
    <title>BUKR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">
        <div class="inner">
          <%= render 'layouts/navbar' %>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <%= render 'layouts/footer' %>
        </div>
      </footer>
    </div>

  </body>
</html>
